body{
	font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    color: #000;
    /*overflow-x: hidden;*/
}
h1, h2{
    margin: 0px;
    position: relative;
    padding-top: 10px;
    padding-left: 18px;
}
h1{
    font-size: 50px;
    font-weight: 300;   
    max-width: 700px;
}
h2{
    font-weight: 400;
    font-size: 45px;
    color: #575757;
    max-width: 237px;
    padding-bottom: 10px;
    padding-right: 18px;
}
h2 div{
    font-size: 92.5px;
    color: #AC0022;
}
h1:before, h1:after, h2:before, h2:after{
    content: " ";
    background: url(../img/angle.svg) no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 26px;
    height: 26px;
    position: absolute;
}
h1:before, h2:before{
    left: 0px;
    top: 0px;
}
h1:after, h2:after{
    right: 0px;
    bottom: 0px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
p{
    margin: 0px;   
}
a:focus, a:hover{
	text-decoration: none;
	color: #fff;
}
ul{
    padding: 0px;
    margin: 0px;
    padding-top: 9vh;
    position: relative;
    z-index: 2;
}
ul li{
    list-style-type: none;
    font-size: 42px;
    margin-top: 10vh;
    font-weight: 600;
    color: #666666;
    padding-left: 41px;
    background: url(../img/li.png) no-repeat left top 15px;
    min-height: 35px;
    -webkit-background-size: 30px;
    background-size: 30px;
}
ul li:first-child{
    margin-top: 0px;
}
ul li span{
    color: #D5677F;
}
ul li p{
    font-weight: 400;
}
.container, .col-md-4, .col-md-5, .col-md-7, .col-md-8{
    padding: 0px;
    position: relative;
}
.height100{
    height: 100vh;
    position: relative;
}
.girlheader{
    height: 95%;
    width: 83.5vh;
    position: absolute;
    z-index: 1;
    left: -13vh;
    bottom: 0px;
    background: url(../img/girlheader.png) no-repeat top left;
    -webkit-background-size: cover;
    background-size: cover;
}
.blackline{
    height: 66px;
    width: 100%;
    background: url(../img/headlogo.png) no-repeat center;
    -webkit-background-size: 442px 43px;
    background-size: 442px 43px;
    background-color: #000;
}
.zvonok, .footzvonok{
    float: right;
    display: table;
    padding-right: 70px;
    margin-right: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: url(../img/zvonok.png) no-repeat right center;
    -webkit-background-size: 57px;
    background-size: 57px;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    text-align: right;
    cursor: pointer;
}
.greyline1{
    height: 66px;
    width: 100%;
    background-color: #C3C3C3;
    color: #fff;
    text-align: right;
    padding-top: 2px;
}
.greyline1 span{
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: underline;
    margin-right: 23px;
}
.number, .footnumber{
    font-size: 28px;
    padding-right: 70px;
    margin-right: 25px;
    color: #fff;
    background: url(../img/mess.png) no-repeat right center;
    -webkit-background-size: 52px 36px;
    background-size: 52px 36px;
    font-weight: 400;
}
.number span, .footnumber span{
    font-size: 38px;
    text-decoration: none;
    margin-right: 0px;
}
.zaglheader{
    margin-top: 14.9vh;
    float: right;
    margin-right: 21px;
    position: relative;
    z-index: 2;
}
.zaglheader p{
    margin-top: 14px;
    letter-spacing: 2px;
    font-size: 36px;
    color: #AC0022;
    font-weight: 300;
    padding-left: 18px;
}
.botheader{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
.botheader p{
    font-size: 32.5px;
    color: #FF004F;
    letter-spacing: 2px;
    margin-right: 12px;
    text-align: right;
}
.botheader p span{
    font-size: 74.4px;
}
.greyline2{
    width: 100%;
    height: 69px;
    background-color: rgba(0,0,0,0.25);  
}
.gleyline3{
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    z-index: 2;
}
.forbtn{
    position: relative;
    width: 596px;
    height: 100%;
    float: right;
    cursor: pointer;
    z-index: 2;
}
.btnkatalog, .btnkatalogform{
  width: 100%;
  height: 0px;
  border-top: 0px solid #FF004F;
  border-bottom: 69px solid #FF004F;
  border-left: 44px solid transparent;
  border-right: 0px solid transparent;  
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}
/*.btnkatalog:before{
    content:'';
    display: block;
    position: absolute;
    height: 69px;  
-webkit-transition: all 800ms;
    -moz-transition: all 800ms;
    -ms-transition: all 800ms;
    -o-transition: all 800ms;
    transition: all 800ms;    
}
.btnkatalog:before {
    width: calc(100% + 25px);
    top: -70px;
    left: -25px;
    border-radius: 100px 0px 100px 0px / 50px 0px 50px 0px;
    opacity: 0.6;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), #ffffff 40%, rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0));
}*/
.textbtn, .textbtnform{
    font-size: 24px;
    letter-spacing: 0px;
    left: 47px;
    top: 17px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
}
.strleft{
    background: url(../img/strleft.png) no-repeat center;
    width: 31px;
    height: 25px;
    -webkit-background-size: 100%;
    background-size: 100%;
    position: absolute;
    left: -29px;
    top: calc(50% - 12.5px);
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}
.forbtn:hover .strleft{
    left: -35px;
}
.forbtn:hover .btnkatalog{
    border-top: 69px solid #FF004F;
    border-bottom: 0px solid #FF004F;
}
.tovaru .col-md-4, .tovaru .col-md-8{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    -webkit-background-size: cover!important;
    background-size: cover!important;
}
.tovaru .col-md-4:first-child{
    height: 100vh;
}
.plusu1{
    background: url(../img/girlplus1.png) no-repeat right -15vh top;
    -webkit-background-size: calc(64.42vh - 70px) calc(100vh - 70px);
    background-size: calc(64.42vh - 70px) calc(100vh - 70px);
}
.plusu1 ul{
    max-width: 640px;
    padding-left: 74px;
}
.plusu2 ul{
    max-width: 575px;
    float: right;
}
.girlplus2{
    position: absolute;
    left: -20vh;
    bottom: 0px;
    height: 100%;
    width: 79.37vh;
    background: url(../img/girlplus2.png) no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
    z-index: 2;
}
.tovaru2{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.tovaru2 .tovar{
    height: 50%;
    width: 33.3333%;
    -webkit-background-size: cover!important;
    background-size: cover!important;    
}
.tovaru2 .tovar:nth-child(1){
    height: calc(100% - 420px);
}
.tovaru2 .tovar:nth-child(2){
    height: 100%;
}
.tovaru2 .tovar:nth-child(3){
    height: 30.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
}
.tovaru2 .tovar:nth-child(4){
    height: 420px;
    margin-top: -420px;
}
.tovaru2 .tovar:nth-child(5){
    height: 69.3%;
    margin-top: -69.3vh;
    margin-left: 33.333333%;
}
.pa{
    width: 620px;
    height: 680px;
    background: url(../img/pa.png) no-repeat top left;
    -webkit-background-size: 100%;
    background-size: 100%;
    position: relative;
    z-index: 3;   
}
.tovaru2 h2{
    height: 53.6%;
    width: 100%;
}
.gleyline4{
    height: 69px;
    width: 100%;
    background-color: #808080;
}
.address{
    display: table;
    padding-left: 30px;
    padding-top: 15px;
    font-size: 24px;
    color: #fff;
    float: left;
}
.tovaru3 .col-md-7{
    height: 50vh;
    -webkit-background-size: cover!important;
    background-size: cover!important;
}
.tovaru3 .col-md-7:nth-child(1){
    position: relative;
    -webkit-background-size: auto!important;
    background-size: auto!important;
    z-index: 3;
}
.tovaru3 .col-md-7:nth-child(3){
    margin-top: -50vh;
}
.tovaru3 .col-md-5{
    height: 100vh;
    -webkit-background-size: cover!important;
    background-size: cover!important;
}
footer{
    height: auto;
    padding-bottom: 125px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.forflexfoot{
    display: flex;
    align-items: flex-start;
}
.footzvonok{
    float: none;
    margin-right: 0px;
    color: #000;
    margin-top: -8px;
    background: url(../img/zvonok2.png) no-repeat right center;
    -webkit-background-size: 57px;
    background-size: 57px;
}
.footnumber{
    margin-right: 53px;
    margin-left: 24px;
    margin-top: 0px;
    color: #000;
    background: url(../img/mess2.png) no-repeat right center;
    -webkit-background-size: 52px 36px;
    background-size: 52px 36px;
}
.footnumber:hover{
    color: #000;
}
.socseti a{
    display: inline-block;
    width: 44px;
    height: 44px;
    margin-right: 16px;
    -webkit-background-size: 100%!important;
    background-size: 100%!important;
}
.socseti a:last-child{
    margin-right: 0px;
}
.closeblock{
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    z-index: 9;
}
.forma{
    display: none;
    position: absolute;
    right: 10px;
    top: 75px;
    width: 510px;
    height: auto;
    background-color: rgba(255,255,255,0.8);
    padding: 25px 25px;
    padding-bottom: 0px!important;
    border: 1px solid #AEAEB1;
    z-index: 10;
}
.flexform{
    display: flex;
    margin-bottom: 5px;
}
.foto{
    width: 150px;
    height: 150px;
    margin-right: 17px;
    -webkit-background-size: cover!important;
    background-size: cover!important;
}
.textfrom{
    width: 300px;
    font-weight: 700;
    font-size: 18px;
}
.textfrom p{
    font-weight: 400;
}
.forma input{
    width: 100%;
    height: 50px;
    border: 1px solid #929295;
    outline: none!important;
    margin-top: 11px;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.4);
    font-size: 18px;
    font-weight: 400;
    padding-left: 14px;
    color: #A7A7A7;
}
.forma input::-webkit-input-placeholder {color:#BABABA; font-weight: normal;}
.forma input::-moz-placeholder          {color:#BABABA; font-weight: normal;}/* Firefox 19+ */
.forma input:-moz-placeholder           {color:#BABABA; font-weight: normal;}/* Firefox 18- */
.forma input:-ms-input-placeholder     {color:#BABABA; font-weight: normal;}
.forbtnform{
    position: relative;
    overflow: hidden;
    margin-right: -25px;
    cursor: pointer;
}
.btnkatalogform{
    border-left: 40px solid transparent;
    width: 238px;
    position: relative;
    top: auto;
    float: right;
    margin-top: 10px;
}
.forbtnform:hover .btnkatalogform{
    border-top: 69px solid #FF004F;
    border-bottom: 0px solid #FF004F;
}
.textbtnform{
    top: auto;
    bottom: 17px;
    left: auto;
    right: 34px;
}
.error{
    display: none;
    font-size: 18px;
    margin: 10px 0px;
    color: #FC004B;
}
.open{
    display: block;
}